[Unit]
Description=Keeps a tunnel to a serve location open
After=network-online.target

[Service]
User=root
ExecStart=/usr/bin/autossh -M 0 -N -R 8000:127.0.0.1:8000 -i /home/{user}/.ssh/id_rsa -o "ServerAliveInterval 30" -o "ServerAliveCountMax 10" {user}@{host}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
