[Unit]
Description=Tensorboard
After=syslog.target network.target

[Service]
User=flaport
WorkingDirectory=/home/flaport
Environment="PATH=/home/flaport/.anaconda/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/flaport/.anaconda/bin/tensorboard --db sqlite:/home/flaport/.local/share/tensorboard.db

[Install]
WantedBy=multi-user.target
