[submodule ".build/st"]
	path = .build/st
	url = https://github.com/flaport/st
[submodule ".build/dwm"]
	path = .build/dwm
	url = https://github.com/flaport/dwm.git
[submodule ".build/dmenu"]
	path = .build/dmenu
	url = https://github.com/flaport/dmenu
[submodule ".build/legacyfox"]
	path = .build/legacyfox
	url = https://github.com/flaport/LegacyFox
