!! backgroud
*color0: #1b1918

!! urgent
*color1: #f22c40

!! main
*color2: #2aa198
*color3: #fdf6e3
*color4: #fdf6e3

!! accent
*color5: #407ee7

!! main-muted
*color6: #00ad9c

!! foreground
*color7: #fdf6e3

!! neutral
*color8: #766e6b

!! urgent
*color9: #ff0000
*color10: #0000ff
*color11: #2aa198

!! main
*color12: #2aa198

!! accent
*color13: #6c71c4

!! main-muted
*color14: #00ad9c

!! foreground
*color15: #fdf6e3

*.alpha: 0.7
*.alpha: 0.7
