[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/root
Environment="PATH=/home/flaport/.anaconda/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/flaport/.anaconda/bin/jupyterhub -f /home/flaport/.jupyter/jupyterhub_config.py

[Install]
WantedBy=multi-user.target
