[Desktop Entry]
Exec=jupyterhubopen %f
Name=Open in Jupyterhub
Comment=Open in Jupyterhub
Icon=/usr/local/share/icons/jupyter.ico # add this icon yourself
MimeType=text/x-ipynb;application/x-ipynb+json;
