[Desktop Entry]
Exec=chromium --app=chrome-extension://ophjlpahpchlmihnnnihgmmeilfjmjjc/index.html &>/dev/null & disown
Name=LINE
Icon=/usr/local/share/icons/line.png # add this icon yourself.
