[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/opt/lumerical/v221/bin/mode-solutions-app %f
Name=mode-solutions
Comment=mode-solutions
Icon=/opt/lumerical/v221/share/mode.png
