[Desktop Entry]
Name=OpenRCT2
Exec=/usr/bin/openrct2 %u
Type=Application
NoDisplay=true
Categories=Games;
MimeType=x-scheme-handler/discord-378612438200877056;
