[Desktop Entry]
Version=1.0
Name=Remmina
GenericName=Remote Desktop Client
Comment=Connect to remote desktops
TryExec=remmina-file-wrapper
Exec=remmina-file-wrapper %U
Icon=org.remmina.Remmina
Terminal=false
Type=Application
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Keywords=remote desktop;rdp;vnc;nx;ssh;spice;xdmcp;
StartupWMClass=org.remmina.Remmina
MimeType=x-scheme-handler/rdp;x-scheme-handler/spice;x-scheme-handler/vnc;x-scheme-handler/remmina;application/x-remmina;
Actions=Kiosk;Profile;Tray;Quit;
