[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=Microsoft Teams for Linux is your chat-centered workspace in Office 365.
Exec=/usr/bin/taskset --cpu-list 4 /usr/bin/teams %U
Icon=teams
Terminal=false
StartupNotify=true
StartupWMClass=Microsoft Teams - Preview
Categories=Network;
MimeType=x-scheme-handler/msteams;
X-KDE-Protocols=teams
Actions=QuitTeams;
