[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=st -n float -e sh -c 'FILE=%f; DIR=$(dirname $FILE); unar -o $DIR $FILE'
Name=unar
Comment=Custom definition for unar
