[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=st -e vifm %F %f
Name=vifm
Icon=vifm
Comment=Open folder with VIFM
MimeType=inode/directory;
