[Desktop Entry]
Version=1.0
Name=Waterfox
GenericName=Web Browser
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/opt/waterfox-current/waterfox %u
Icon=waterfox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;
StartupNotify=true
StartupWMClass=waterfox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/opt/waterfox-current/waterfox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=/opt/waterfox-current/waterfox --private-window %u
